@charset "utf-8";
/* CSS Document */

.poiret-one-regular {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-style: normal;
}

/* ESTILO GENERAL */
body {
    font-family: "Poiret One", serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(40deg, #7F7CAF, #F2D5F8);
    color: #2e2e2e;
}
header {
    position: fixed;
    top: 0%;
    left: 10%;
    transform: translate(-10%, -10%);
    width: 100%;
    background-color: #F2D5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-family: Poiret One, serif;
    padding: 15px;
    margin: 5px auto;
    border-radius: 10px;
}
.boton{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #F2D5F8;
	background-color: #7D426C;
	padding: 15px 30px;
	border-radius: 10px;
	border: none;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.boton:hover {
	
	background-color: #461339;
	transform: scale(1.1)
}


nav {
    background-color: #7F7CAF;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 120px; 
}

nav ul {
    list-style: georgian;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #F2D5F8;
}


#nav-boton {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #F2D5F8;
    background-color: #4A148C;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#nav-boton:hover {
    background-color: #461339;
    transform: scale(1.1);
}

 .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 15px;
            padding: 20px;
            margin-top: 100px;
        }
        .grid-item {
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 18px;
            font-style: italic;
        }
footer {
	background: #7F7CAF;
	color: white;
	text-align: center;
	padding: 15px;
	margin-top: 20px;
	font-size: 1.2em;
	font-weight: bold;
	
	
}